
.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 25px;
}

.header button {
  background-color: #242424;
}

.profileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;

}

.headerRight {
  display: flex;
  gap: 15px;
}