#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.register {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 50px 50px;
  background-color: rgba(165, 42, 42, 0.295);
  border-radius: 20px;
  gap: 20px;
  align-items: center;
  width: 300px;
}

.register input {
  border-radius: 20px;
  background-color: aliceblue;
  padding: 10px;
  color: black;
}
.error {
  color: rgba(255, 0, 0, 0.952);
}
.register button {
  height: 60px;
}

button {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}